# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- Create a table to show tools for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-Learn

| Data Science Tools |
|:--------:|
|  Pycharm   | 
|  Visual Studio Code   | 
|  Tableau   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
'{:02d}:{:02d}'.format(*divmod(minutes, 60))

'03:20'

## Author
Michelle Watford